RewriteEngine on
<ifModule mod_php4.c>
php_value engine off
</ifModule>
<ifModule mod_php5.c>
php_value engine off
</ifModule>
#Kensel- if not ssl then redirect
RewriteCond %{SERVER_PORT} !443
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/cpadmin [R,L]
